

/*
 * give the select 2 multi select box enough space
 */
.select2-container.select2-container-multi.form-control {
  height: 100%;
}
/*
 * right adjust amounts
 * TODO this belongs to business-commons
 */
.amount {
  text-align: right;
}
/*
 * adjust column headers to the content
 */
table.dataTable thead th.header {
  padding-left: 5px;
}
/*
 * right align the pagination buttons with the row action buttons
 */
.pagination{
    margin-right: 22px;
}
/*
 * allow space between buttons
 */
.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}
/*
 * modal depending in the screensize
 */
.notifications{
    z-index: 1100;
    width : 300px;
}
/*
 * modal depending in the screensize
 */
    /* rules for mobile vertical (< 480) */

    @media (min-width: 480px) {
       /* rules for mobile horizontal (480 > 768)  */
    }
    @media (min-width: 768px) {
       /* rules for tablet (768 > 992) */
    }
    @media (min-width: 992px) {
       /* rules for desktop (992 > 1200) */
       .modal {
       	width: 700px;
  		left:42%;}
    }
    @media (min-width: 1200px) {
       /* rules for large (> 1200) */
       .modal {
       	width: 700px;
  		left:42%;}
    }
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
