<div id="${id}" class="span${span}" data-dojo-attach-point="containerNode">

	<div class="box bordered" style="position: relative;" data-dojo-attach-point="childrenNode">
		<div class="box-header">
			<i class="${icon}"></i> ${label}
		<div class="pull-right">
            <div class="btn-group">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cog"></i>
              </a>
              <ul class="dropdown-menu dropdown-left" data-dojo-attach-point="attachPointActionLink">
              </ul>
            </div>
          </div>
		</div>
	</div>
</div>