<div class="input-group date" 
	data-date="01-01-1970" data-date-format="${date_format}">
	<!-- place the icon BEFORE the input, otherwise it may be shown right outside the window -->
	<span class="input-group-addon add-on"><i class="${icon}"></i></span>
	<input class="form-control" type="text" size="10" placeholder="${label}"
		data-dojo-attach-point="attachPoint_input">
	<!-- 
	requires something like ;
	.datepicker {z-index: 1160 !important;}
	when used in modal dialogs
	<button class="btn light-blue inverse date-button" type="button">
		<i class="${icon}"></i>
	</button>
		 -->
</div>