<div class="modal fade" tabindex="-1" data-dojo-attach-point="attachPointModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3>${label}</h3>
	</div>
	<div class="modal-body" data-dojo-attach-point="containerNode">
	<!-- 
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				60%</div>
		</div>
		 -->
	</div>
	<div class="modal-footer" data-dojo-attach-point=attachPointActionLink></div>
</div>
