<li class="dropdown">
	<a href="#" onclick="return false;" 
	class="dropdown-toggle"
	data-toggle="dropdown" 
	data-dojo-attach-event="click:_onClick">
	<i class="${icon}"></i>
	<span class="hidden-xs">${label}</span>
	<i class="caret"></i>
</a>
	<ul class="dropdown-menu" role="menu"
		data-dojo-attach-point="containerNode">
	</ul></li>
	
	