<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://appdriver.com/">appdriver</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right" data-dojo-attach-point="containerNode">
			</ul>
			<div class="col-md-5">
				<form id="appdriver-search" style=" width: 100%;  " class="navbar-form navbar-right" data-dojo-attach-point="form">
					<input type="text" class="form-control" placeholder="Search..." data-dojo-attach-point="searchInput"
						data-dojo-attach-event="onkeydown: onSearchKeyDown"
						style=" width: 100%; border: 0px;">
				</form>
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>