<div class="table-responsive" data-dojo-attach-point="attachPoint_input">
<div data-dojo-attach-point="attachPointActionLink"></div>
<h4>${label}</h4>
<table class="table table-striped  table-hover table-condensed data-table dataTable" data-dojo-attach-point="dataTable">
	<thead data-dojo-attach-point="dataTable_thead">
		<tr data-dojo-attach-point="dataTable_thead_tr" role="row">
		</tr>
	</thead>
	<tbody role="alert" aria-live="polite" aria-relevant="all">
	</tbody>
</table>
</div>