<div>
	<h2 class="page-header">appdriver - die Technik</h2>
	<p class="lead">appdriver ist ein Framework speziell für die professionelle Entwicklung von Unternehmenssoftware. Es basiert
		auf bewährten Open-Source Lösungen, integriert diese zu einem Ganzen und bringt alles das mit, was man braucht um in kürzester
		Zeit komplette Anwendungen zu entwickeln.</p>
	<h3 class="page-header">Ein Beispiel</h3>
	<p>In einer Web-Anwendung soll eine Tabelle mit Währungen angezeigt werden. Eine Währung kann dort ausgewählt, editiert und
		gespeichert werden.</p>
	<h4 class="page-header">Entität</h4>
	Als erstes wird die Klasse 'Currency' angelegt und mit Jpa-Annotationen versehen. Das ist alles Standard. Getter/Setter sind nicht
	erforderlich, aber möglich.
	<pre class=".pre-scrollable">	
@Entity
public class Currency extends CommonsEntity {
	
	public String code;
	public Integer decimals;
	
	public String name;
	public String symbol;
	...
	}
	</pre>
	<h4 class="page-header">Repository</h4>
	<p>
		Ein Repository ist ein spezieller Service für Datenbankzugriffe. Das Repository für Country :<br> <br>
	</p>
	<pre class=".pre-scrollable">	
@RestResource(path="country")
public interface CountryRepository extends PagingAndSortingRepository &ltCountry , Long&gt {
	public Page &ltCountry&gt findByNameLikeIgnoreCase(@Param("name")String name,Pageable pageable);
}	
	</pre>
	<p>
		Der Entwickler erstellt lediglich das Interface, die Implementierung wird automatisch erzeugt. Es stehen alle grundlegenden
		Persistenz-Funktionen zur Verfügung :
		<code>delete(..),deleteAll(),exists(..),findAll(),findOne(..),save(..), count()</code>
	</p>
	<h5>Queries</h5>
	<p>
		Für einfache Queries schreibt man im Repository-Interface jeweils eigene Methoden. Hält man sich dabei an Namenskonventionen, wird
		auch deren Implementierung automatisch erzeugt.<br> Der Name
		<code>findByNameLikeIgnoreCase</code>
		definiert z.B. eine Methode die Länder nach Name sucht, dafür
		<code>LIKE</code>
		verwendet und Groß-/Kleinschreibung ignoriert.<br> Die gesamte Persistenz-Schicht benötigt gerade einmal 2 Zeilen Code.
		Alternativ kann man einzelne Methoden oder auch ganze Repositories von Hand implementieren sowie JPA- oder SQL-Queries verwenden.
		appdriver verwendet für Repositories das Framework Spring-Data JPA.
	</p>
	<h4 class="page-header">Web-Schnittstelle als REST API</h4>
	<p>
		appdriver stellt für Repositories automatsch eine Web-Schnittstelle, ein REST API zur Verfügung. Dadurch können Repositories von
		Clients (z.B. Browser) oder anderen Servern genutzt werden. Daten können als JSON oder auch XML ausgeliefert werden. Der
		Entwickler muß dafür nichts weiter tun.<br> Ein Client, der über die REST API ein Land anfordert bekommt in JSON diese
		Antwort :<br>
	</p>
	<pre class=".pre-scrollable">	
	{
		isoCode: "MYS",
		name: "Malaysia",
		version: 0,
		createdBy: "sisele",
		createdDate: "2014-03-29T11:33:18.204+01:00",
		lastModifiedBy: "sisele",
		lastModifiedDate: "2014-03-29T11:33:18.204+01:00",
		links: [
			{
				rel: "self",
				href: "http://localhost:8080/business-commons/api/country/1"
			}
				]
	}
	</pre>
	Alle Methoden der Repositories, also schreiben, lesen, löschen usw. sind über die Web-Schnittstelle verfügbar. Das gilt auch für
	die handgeschriebenen find-Methoden. Um über die oben beschriebene Methode
	<code>findByNameLikeIgnoreCase</code> eine Währung mit code = "EUR" zu suchen könnte man die 
	URL <code>http://localhost:8080/app-crm/api/currency/search/findByCodeLikeIgnoreCase?code=USD</code> verwenden.<br> appdriver verwendet Spring Data REST, um die
	Web-Schnittstelle automatisch aus den Repositories zu erzeugen.
	<p>
		<br> Das war es schon auf dem Server. Mit wenigen Zeilen Code haben wir alles, um Länder in der Datenbank zu verwalten, und
		über Queries abzufragen. Zusätzlich gibt es eine Web-Schnittstelle, die diese Funktionalität für Clients oder andere Server
		verfügbar macht.
	</p>
	<h4 class="page-header">Client</h4>
	<p>appdriver unterstützt alle modernen Web-Browser, auf dem PC, Tablet oder Mobile und verwendet dafür ausschließlich Html,
		Css, Ajax und Javascript. Es beinhaltet eine kleine Javascript-Bibliothek (50 kb), die es erlaubt Plugins und Extensionpoints zu
		definieren.</p>
	<div class="bs-callout bs-callout-warning">
		<p>Die hier verwendeten Begriffe Plugin und Extension haben nichts mit Browser-Plugins zu tun. appdriver erfordert keinerlei
			Installation auf dem Client.</p>
	</div>
	<p>
		Ein Plugin ist nichts anderes als ein bisschen Javascript und eine Text-Datei mit Konfiguration in JSON.<br> Man kann damit
		sehr flexible ,leicht erweiterbare Systeme aufbauen. So ist appdriver z.B. nicht auf Bootstrap oder JQuery festgelegt. Dies ist im
		moment die Standard-Implementierung, sie kann aber mit wenig Aufwand gegen andere Ui-Frameworks wie Angular, Ember, Backbone oder
		sonstige ausgetauscht werden. <br> Zück zum Beispiel : appdriver kann im Client ohne weitere Programmierung Formulare und
		Tabellen für beliebige Entitäten. Man braucht lediglich einen Eintrag im Benutzermenu, mit dem man zu der Tabelle gelangt. Das
		Menu wird durch das Plugin
		<code>prefabware.ui.menus</code>
		definiert. Es bietet einen
		<code>extensionPoint</code>
		, also einen Erweiterungspunkt, an dem man eigene Menupunkte registrieren kann. Für die Tabelle mit den Ländern sieht die
		Konfiguration so aus:
	</p>
	<pre class=".pre-scrollable">	
	{"extensionPoint":"prefabware.ui.menus",
  			  "menu":"basicData.country",
  			  "actionId":"openView",
  			  "type":"com.prefabware.business.address.Country",
  			  "matcher":{"value":"menu"}
  									  }
	</pre>
	<p>
		Diese Informationen genügen um Menupunkt, Tabelle und Formular darzustellen. Mit dem Namen der Java-Klasse
		<code>com.prefabware.business.address.Country</code>
		kann appdriver vom Server Informationen über den Typ
		<code>Country</code>
		abrufen. Country hat z.B. ein Attribut
		<code>name</code>
		vom Typ
		<code>String</code>
		. appdriver ist so konfiguriert, dass Strings als Textbox dargestellt werden. Den Code für HTML- und Css für die Darstellung
		erzeugt dann das Plugin
		<code>prefabware.bootstrap</code>
		. Das gesamte hier beschriebene Verhalten und die Darstellung können durch Plugins und Konfiguration komplett verändert werden.
		Mit appdriver kann man immer Standard-Verhalten vorgeben. Letztlich hat aber der Entwickler immer die Möglichkeit dieses zu
		verändern oder ganz auszutauschen. So kommt man schnell, mit minimalem Aufwand zu vorzeigbaren Ergebnissen und kann gleichzeitig
		flexibel auf neue Anforderungen reagieren.
	</p>
	<h3 class="page-header">Warum noch ein Framework ?</h3>
	<p>
		Es gibt viele Frameworks und offene Standards, mit denen man gute Software bauen kann. Aber meist lösen diese nur technische
		Probleme und das auch nur in einem begrenzten Bereich. So kommt man an Java, Jpa und Spring serverseitig kaum vorbei, hat dann
		aber noch nichts für die Benutzeroberfläche. Dafür bieten sich wiederum HTML5, Bootstrap, JQuery oder Dojo an. Wie Client und
		Server miteinander agieren, und wie die einzelnen Frameworks integriert werden, muß man selber erarbeiten. Das kostet viel Zeit
		und Geld nicht nur einmalig sondern auch fortlaufend für Wartung und Weiterentwicklung.<br> Auf der anderen Seite gibt es
		Frameworks, die eine integrierte Lösung über die gesamte Breite, von der Datenbank bis zur Anwenderoberfläche bieten. Damit kann
		man sehr schnell entwickeln, aber nur mit den Technologien und nur in dem Rahmen, wie es der Hersteller vorgesehen hat. Man büßt
		damit erheblich an Flexibilität und auch Zukunftssicherheit ein, das sind Risiken die viele Unternehmen nicht eingehen können.<br>
		appdriver vereint die Vorteile beider Ansätze. Einerseits ist es eine integrierte Gesamtlösung, mit der man direkt komplette
		Anwendungen erstellen kann. Andererseits behält man die Flexibilität einer Eigenentwicklung und die beruhigende Gewissheit, sich
		für die Zukunft alle Optionen offen zu halten.<br> <br>
	</p>
	<h3 class="page-header">Was ist anders an appdriver ?</h3>
	<p>
		appdriver ist für ein ganz spezielles Szenario gemacht : professionelle Entwickler-Teams, die Software für Unternehmen entwickeln.
		Im Fokus steht dabei nicht die Lösung einzelner technischer Probleme, sondern der Entwicklungprozess als Ganzes. appdriver
		schließt die Lücke zwischen den bereits existierenden, technischen orientierten Frameworks, und der eigentlichen
		Anwendungsentwicklung. Es bietet maximale Integration und Unterstützung ohne den Entwickler zu bevormunden. Es gibt immer die
		Möglichkeit, Teile von appdriver anzupassen oder komplett auszutauschen. <br> <br>
	</p>
</div>