<div>
	<h2 class="page-header">Standard-Funktionen und Features</h2>
	<p class="lead">Mit appdriver kann man in kürzester Zeit Web- oder Mobile-Anwendungen erstellen. Diese Anwendungen sind
		vollständig, man kann mit Ihnen Daten bearbeiten, speichern, abfragen, Berichte drucken und von anderen Systemen auf die REST-Api
		zugreifen</p>
	<h3 >Anwenderoberfläche Web</h3>
	<ul>
		<li>nutzbar mit allen modernen Browsern
			<ul>
				<li>Mochilla Firefox</li>
				<li>Google Chrome</li>
				<li>Apple Safari</li>
				<li>Internet Explorer</li>
				<li>Opera</li>
			</ul>
		</li>
		<li>nutzbar mit PC
			<ul>
				<li>Windows
				<li>Mac
				<li>Linux  
			</ul>
		</li>
		<li>nutzbar mit Tablet</li>
		<li>nutzbar mit Mobile-Phones</li>
		<li>Benutzermenü
			<ul>
				<li>Menü</li>
				<li>Sidebar</li>
				<li>Submenus werden erst bei Bedarf geladen (Lazy Loading)</li>
			</ul>
		</li>
		<li>Tabellenansicht
			<ul>
				<li>generieren aus dem Domänenmodell</li>
				<li>anpassen per Konfiguration, Javascript, Html und Css</li>
				<li>erweitern per Javascript</li>
				<li>Paging</li>
				<li>sortieren</li>
				<li>suchen</li>
				<li>löschen</li>
				<li>serverseitig berechnete Spalten (Java)</li>
				<li>Steuerelemente (Suche, Nächste ..) mehrsprachig</li>
				<li>Lazy Loading über Proxys</li>
			</ul>
		</li>
		<li>Formulare
			<ul>
				<li>generieren aus dem Domänenmodell</li>
				<li>anpassen per Konfiguration, Javascript, Html und Css</li>
				<li>speichern</li>
				<li>validieren</li>
				<li>Serverseitig berechnete Felder (Java)</li>
				<li>Clientseitig berechnete Felder (Javascript)</li>
				<li><ul>
						<li>Textfeld</li>
						<li>Datumsfeld</li>
						<li>Checkbox</li>
						<li>Combobox
							<ul>
								<li>für Referenzen z.B. Auswahl eines Kunden für die Rechnung
								<li>Paging</li>
								<li>Lazy Loading</li>
								<li>für Aufzählungstypen (Enumerationen)</li>
							</ul>
						</li>
						<li>TabellenMaster/Detail (1:n) z.B. Auftrag mit Positionen kann komplett generiert werden</li>
					</ul></li>
			</ul>
		</li>
		<li>Anwenderoberfläche mehrsprachenfähig (Buttons, Label, Nachrichten etc.)</li>
	</ul>
	<h3 >Berichte</h3>
	<ul>
		<li>Mit Formular-Editor bearbeitbar</li>
		<li>Tabellen</li>
		<li>Bilder für Logos oder Produktbilder</li>
		<li>Adressaufkleber</li>
		<li>Templates</li>
		<li>Design-Bibliotheken</li>
		<li>Ausgabe als PDF, Excel, Open Office, Html</li>
		<li>Reports in Websiten integrierbar</li>
		<li>Speichern von Templates und Reports in der Datenbank</li>
	</ul>
	<h3 >Fachklassen</h3>
	<ul>
		<li>Betrag mit Währung</li>
		<li>Menge mit Mengeneinheit</li>
		<li>Iban</li>
		<li>Dokument</li>
		<li>Land</li>
		<li>Stadt</li>
		<li>Währung</li>
		<li>Adresse</li>
		<li>Person</li>
		<li>Organisation, Firma</li>
		<li>Rechnung</li>
	</ul>
	<h3 >Domänenmodell</h3>
	<ul>
		<li>automatisch generieren aus den Fachklassen z.B. Kunde, Rechnung...</li>
		<li>durch Annotationen konfigurierbar</li>
		<li>auf dem Server verwendbar (Java)</li>
		<li>im Client verwendbar (Javascript)</li>
		<li>Sichtbarkeit für den Anwender steuern</li>
		<li>Fachliche Schlüssel</li>
		<li>Label</li>
		<li>Beschreibung</li>
		<li>Validierung</li>
	</ul>
	<h3 >Datenbank</h3>
	<ul>
		<li>Datenbank automatisch erstellen</li>
		<li>Datenbankzugriff - schreiben, lesen, löschen, abfragen (query)</li>
		<li>Speichern von Binärdateien in der Datenbank z.B. PDF, Bilder ..</li>
		<li>Transaktionen</li>
	</ul>
	<h3 >Api - Schnittstelle für den Zugriff aus anderen Programmen heraus</h3>
	<ul>
		<li>REST-Api wird automatisch komplett generiert</li>
		<li>schreiben,lesen,löschen,abfragen (query)</li>
		<li>berechnete Attribute können je Request optional angefordert werden</li>
	</ul>
</div>