body > .header .logo {
	font-family: 'Source Sans Pro', sans-serif;
}
#focusedInput {
border-color: #ccc;
border-color: rgba(82,168,236,.8);
outline: 0;
outline: thin dotted \9;
-moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
box-shadow: 0 0 8px rgba(82,168,236,.6);
}
/*
 * give the select 2 multi select box enough space
 */
.select2-container.form-control {
  height: 34px;
  padding:0px;
  border:0px;
}
.select2-chosen {
  height: 100%;
  padding-top:3px;
}
.select2-container .select2-choice{
  height: 34px;
}
.select2-container-multi .select2-choices .select2-search-choice {
    line-height: 18px;
    color: #333;
}

/*
 * right adjust amounts
 * TODO this belongs to business-commons
 */
.amount {
  text-align: right;
}

/*
 * modal depending in the screensize
 */
.notifications{
    z-index: 1100;
    width : 300px;
}
/*
 * modal depending in the screensize
 */
    /* rules for mobile vertical (< 480) */

    @media (min-width: 480px) {
       /* rules for mobile horizontal (480 > 768)  */
    }
    @media (min-width: 768px) {
       /* rules for tablet (768 > 992) */
    }
    @media (min-width: 992px) {
       /* rules for desktop (992 > 1200) */
       .modal {
       	width: 700px;
  		left:42%;}
    }
    @media (min-width: 1200px) {
       /* rules for large (> 1200) */
       .modal {
       	width: 700px;
  		left:42%;}
    }

